.container {
  .scrollContainer {
    position: relative;
    height: 350px;
    overflow: overlay;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
      border-radius: 10px;
    }
    .wrapper {
      display: grid;
      gap: 5px;
    }
  }
}

.enter {
  opacity: 0;
  transform: translateX(100%);
}
.enterActive,
.enterDone {
  opacity: 1;
  transform: translateX(0);
  transition: 300ms ease-in-out;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitActive,
.exitDone {
  opacity: 0;
  transform: translateX(100%);
  transition: 300ms ease-in-out;
}
