.container{
  padding: 10px;
  background: #121827;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  font-weight: bold;
  .edit{
    text-align: center;
    cursor: pointer;
  }
  .delete{
    color: red;
    cursor: pointer;
  }
}